.header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 64px;

  padding-left: 64px;
  margin: 0 auto;
}

.links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 32px;
}

.link {
  color: #101828;
}
.link:hover {
  color: #d84343;
}
.active {
  color: #d84343;
}
