.home {
  background-image: url("../../assets/bg/Picture.jpg");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  padding-bottom: 264px;
  padding-top: 264px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 64px;
}

.btn {
  max-width: 160px;
}
